<mat-toolbar fxLayout fxLayoutAlign="space-around center" color="primary">
    <span>My App</span>
    <app-date></app-date>
    <ng-template [ngIf]="!isLoggedUser()">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
            (click)="openLoginDialog()">
            <mat-icon>person</mat-icon>
            Login
        </button>
    </ng-template>
    <ng-template [ngIf]="isLoggedUser()"
                 fxLayout
                 fxLayoutAlign="flex-end center">
        <span>{{ username }}</span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
            (click)="onLogout()">
            <mat-icon>person</mat-icon>
            Logout
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>more_vert</mat-icon>
        </button>
    </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>
<app-footer></app-footer>